<h1>Books</h1>

<% @books.each do |book| %>
  <h3><%= book.book_title %></h3>
  <p>Author: <%= book.author %></p>
  <p>Genre: <%= book.genre %></p>
<% end %>

<%= link_to "Back to Top", "/books" %>
<p><%= link_to "Back to Home", "/" %></p>