<h1><%= @book.book_title %></h1>
<p><b>Title: </b><br> <%= @book.book_title %></p> 
<p><b>Author: </b><br> <%= @book.author %></p>
<p><b>Genre: </b><br> <%= @book.genre %><br>
<p><b>Available Copies: </b><br> <%= @book.available_copies %><br>
<p><b>Price: </b><br> $<%= @book.price %>.00<br>

<% if @book.on_sale == true %>
    <p><b>This title is currently on sale!</p></b>
<% else %>
    <br>
<%end%>

<p><%= link_to "Back to All Books", "/books" %></p>